// h1=title // Trae la variable del diccionario de contexto en routes/index.js

// Otra opcion para poner variables
// h1 #{title}

// Extiende el layout
extends ./layout/index

block content
  main.container.mt-5
    .row

      .col.md-5
        img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")

      .col.md-7
        h1= pag
        blockquote Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.

        p Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.

        p Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.

  .listado-iconos
    .container.mt-5.py-5.text-center
      .row

        .col-md-4
          img(src="img/icono_seguridad.svg", alt="Seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orce. Aenean dignissim pellentesque felis.

        .col-md-4
          img(src="img/icono_destinos.svg", alt="Destinos", class="img-fluid mb-4")
          h2.mb-4 Destinos
          p Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismodin, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.

        .col-md-4
          img(src="img/icono_precios.svg", alt="Precios", class="img-fluid mb-4")
          h2.mb-4 Precios
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
