<!-- emmet en vim = CTRL + y <leader> -->

<!-- Contenido dentro de etiqueta -->
<!-- h1{Esto es el contenido del h1} -->
<h1>Esto es el contenido del h1</h1>

<!-- Signo de dolar para iteracion de números -->
<!-- h${Encabezado $}*6 -->
<h1>Encabezado 1</h1>
<h2>Encabezado 2</h2>
<h3>Encabezado 3</h3>
<h4>Encabezado 4</h4>
<h5>Encabezado 5</h5>
<h6>Encabezado 6</h6>

<!-- Etiqueta dentro de etiqueta -->
<!-- ul>li*3 -->
<ul>
    <li></li>
    <li></li>
    <li></li>
</ul>
