footer.container.py-5
  .row

    .col-md-6
      nav.nav.footer.justify-content-center.justify-content-md-start
        a.nav-link(href="/about") Nosotros
        a.nav-link(href="/viajes") Viajes
        a.nav-link(href="/testimoniales") Testimoniales

    .col
      p.copyright.text-center.text-md-right
        | todos los derechos reservados
        span= yearVar // Variable local de Express mandada desde un middleware
