doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, inital-scale=1.0")
    title #{siteName} #{pag}
    link(rel="stylesheet", href="css/bootstrap.css")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="https://google-fonts_example")
  body
    include ./header.pug

    block content

    include ./footer.pug
